<label>{{column}}</label>
<div (click)="$event.stopPropagation()" class="input-group input-group-sm mb-3">
  <div class="input-group-prepend">
    <div class="input-group-text">
      <input #onlyNullCheckbox
        (change)="searchByColumn(columnSearchBox.value, onlyNullCheckbox.checked)"
        type="checkbox" aria-label="Null only">
    </div>
  </div>
  <input #columnSearchBox class="form-control"
    type="text"
    aria-label="Text input with checkbox"
    (keyup)="searchByColumn(columnSearchBox.value, onlyNullCheckbox.checked)" />
</div>
